.flag {
  width: 32px;
  height: 32px;
  background:url(/static/img/flags.png) no-repeat
}

.flag.flag-and {background-position: -32px 0}
.flag.flag-are {background-position: -64px 0}
.flag.flag-afg {background-position: -96px 0}
.flag.flag-atg {background-position: -128px 0}
.flag.flag-aia {background-position: -160px 0}
.flag.flag-alb {background-position: -192px 0}
.flag.flag-arm {background-position: -224px 0}
.flag.flag-an {background-position: -256px 0}
.flag.flag-ago {background-position: -288px 0}
.flag.flag-arg {background-position: -320px 0}
.flag.flag-asm {background-position: -352px 0}
.flag.flag-aut {background-position: -384px 0}
.flag.flag-aus {background-position: -416px 0}
.flag.flag-abw {background-position: -448px 0}
.flag.flag-aze {background-position: 0 -32px}
.flag.flag-bih {background-position: -32px -32px}
.flag.flag-brb {background-position: -64px -32px}
.flag.flag-bgd {background-position: -96px -32px}
.flag.flag-bel {background-position: -128px -32px}
.flag.flag-bfa {background-position: -160px -32px}
.flag.flag-bgr {background-position: -192px -32px}
.flag.flag-bhr {background-position: -224px -32px}
.flag.flag-bdi {background-position: -256px -32px}
.flag.flag-ben {background-position: -288px -32px}
.flag.flag-bmu {background-position: -320px -32px}
.flag.flag-brn {background-position: -352px -32px}
.flag.flag-bol {background-position: -384px -32px}
.flag.flag-bra {background-position: -416px -32px}
.flag.flag-bhs {background-position: -448px -32px}
.flag.flag-btn {background-position: 0 -64px}
.flag.flag-bwa {background-position: -32px -64px}
.flag.flag-blr {background-position: -64px -64px}
.flag.flag-blz {background-position: -96px -64px}
.flag.flag-can {background-position: -128px -64px}
.flag.flag-cod {background-position: -160px -64px}
.flag.flag-caf {background-position: -192px -64px}
.flag.flag-cog {background-position: -224px -64px}
.flag.flag-che {background-position: -256px -64px}
.flag.flag-civ {background-position: -288px -64px}
.flag.flag-cok {background-position: -320px -64px}
.flag.flag-chl {background-position: -352px -64px}
.flag.flag-cmr {background-position: -384px -64px}
.flag.flag-chn {background-position: -416px -64px}
.flag.flag-col {background-position: -448px -64px}
.flag.flag-cri {background-position: 0 -96px}
.flag.flag-cub {background-position: -32px -96px}
.flag.flag-cpv {background-position: -64px -96px}
.flag.flag-cyp {background-position: -96px -96px}
.flag.flag-cze {background-position: -128px -96px}
.flag.flag-deu {background-position: -160px -96px}
.flag.flag-dji {background-position: -192px -96px}
.flag.flag-dnk {background-position: -224px -96px}
.flag.flag-dma {background-position: -256px -96px}
.flag.flag-dom {background-position: -288px -96px}
.flag.flag-dza {background-position: -320px -96px}
.flag.flag-ecu {background-position: -352px -96px}
.flag.flag-est {background-position: -384px -96px}
.flag.flag-egy {background-position: -416px -96px}
.flag.flag-esh {background-position: -448px -96px}
.flag.flag-eri {background-position: 0 -128px}
.flag.flag-esp {background-position: -32px -128px}
.flag.flag-eth {background-position: -64px -128px}
.flag.flag-fin {background-position: -96px -128px}
.flag.flag-fji {background-position: -128px -128px}
.flag.flag-fsm {background-position: -160px -128px}
.flag.flag-fro {background-position: -192px -128px}
.flag.flag-fra {background-position: -224px -128px}
.flag.flag-gab {background-position: -256px -128px}
.flag.flag-gbr {background-position: -288px -128px}
.flag.flag-grd {background-position: -320px -128px}
.flag.flag-geo {background-position: -352px -128px}
.flag.flag-ggy {background-position: -384px -128px}
.flag.flag-gha {background-position: -416px -128px}
.flag.flag-gib {background-position: -448px -128px}
.flag.flag-grl {background-position: 0 -160px}
.flag.flag-gmb {background-position: -32px -160px}
.flag.flag-gin {background-position: -64px -160px}
.flag.flag-glp {background-position: -96px -160px}
.flag.flag-gnq {background-position: -128px -160px}
.flag.flag-grc {background-position: -160px -160px}
.flag.flag-gtm {background-position: -192px -160px}
.flag.flag-gum {background-position: -224px -160px}
.flag.flag-gnb {background-position: -256px -160px}
.flag.flag-guy {background-position: -288px -160px}
.flag.flag-hkg {background-position: -320px -160px}
.flag.flag-hnd {background-position: -352px -160px}
.flag.flag-hrv {background-position: -384px -160px}
.flag.flag-hti {background-position: -416px -160px}
.flag.flag-hun {background-position: -448px -160px}
.flag.flag-idn {background-position: 0 -192px}
.flag.flag-irl {background-position: -32px -192px}
.flag.flag-isr {background-position: -64px -192px}
.flag.flag-imn {background-position: -96px -192px}
.flag.flag-ind {background-position: -128px -192px}
.flag.flag-irq {background-position: -160px -192px}
.flag.flag-irn {background-position: -192px -192px}
.flag.flag-isl {background-position: -224px -192px}
.flag.flag-ita {background-position: -256px -192px}
.flag.flag-jey {background-position: -288px -192px}
.flag.flag-jam {background-position: -320px -192px}
.flag.flag-jor {background-position: -352px -192px}
.flag.flag-jpn {background-position: -384px -192px}
.flag.flag-ken {background-position: -416px -192px}
.flag.flag-kgz {background-position: -448px -192px}
.flag.flag-khm {background-position: 0 -224px}
.flag.flag-kir {background-position: -32px -224px}
.flag.flag-com {background-position: -64px -224px}
.flag.flag-kna {background-position: -96px -224px}
.flag.flag-prk {background-position: -128px -224px}
.flag.flag-kor {background-position: -160px -224px}
.flag.flag-kwt {background-position: -192px -224px}
.flag.flag-cym {background-position: -224px -224px}
.flag.flag-kaz {background-position: -256px -224px}
.flag.flag-lao {background-position: -288px -224px}
.flag.flag-lbn {background-position: -320px -224px}
.flag.flag-lca {background-position: -352px -224px}
.flag.flag-lie {background-position: -384px -224px}
.flag.flag-lka {background-position: -416px -224px}
.flag.flag-lbr {background-position: -448px -224px}
.flag.flag-lso {background-position: 0 -256px}
.flag.flag-ltu {background-position: -32px -256px}
.flag.flag-lux {background-position: -64px -256px}
.flag.flag-lva {background-position: -96px -256px}
.flag.flag-lby {background-position: -128px -256px}
.flag.flag-mar {background-position: -160px -256px}
.flag.flag-mco {background-position: -192px -256px}
.flag.flag-mda {background-position: -224px -256px}
.flag.flag-mne {background-position: -256px -256px}
.flag.flag-mdg {background-position: -288px -256px}
.flag.flag-mhl {background-position: -320px -256px}
.flag.flag-mkd {background-position: -352px -256px}
.flag.flag-mli {background-position: -384px -256px}
.flag.flag-mmr {background-position: -416px -256px}
.flag.flag-mng {background-position: -448px -256px}
.flag.flag-mac {background-position: 0 -288px}
.flag.flag-mtq {background-position: -32px -288px}
.flag.flag-mrt {background-position: -64px -288px}
.flag.flag-msr {background-position: -96px -288px}
.flag.flag-mlt {background-position: -128px -288px}
.flag.flag-mus {background-position: -160px -288px}
.flag.flag-mdv {background-position: -192px -288px}
.flag.flag-mwi {background-position: -224px -288px}
.flag.flag-mex {background-position: -256px -288px}
.flag.flag-mys {background-position: -288px -288px}
.flag.flag-moz {background-position: -320px -288px}
.flag.flag-nam {background-position: -352px -288px}
.flag.flag-ncl {background-position: -384px -288px}
.flag.flag-ner {background-position: -416px -288px}
.flag.flag-nga {background-position: -448px -288px}
.flag.flag-nic {background-position: 0 -320px}
.flag.flag-nld {background-position: -32px -320px}
.flag.flag-nor {background-position: -64px -320px}
.flag.flag-npl {background-position: -96px -320px}
.flag.flag-nru {background-position: -128px -320px}
.flag.flag-nzl {background-position: -160px -320px}
.flag.flag-omn {background-position: -192px -320px}
.flag.flag-pan {background-position: -224px -320px}
.flag.flag-per {background-position: -256px -320px}
.flag.flag-pyf {background-position: -288px -320px}
.flag.flag-png {background-position: -320px -320px}
.flag.flag-phl {background-position: -352px -320px}
.flag.flag-pak {background-position: -384px -320px}
.flag.flag-pol {background-position: -416px -320px}
.flag.flag-pri {background-position: -448px -320px}
.flag.flag-pse {background-position: 0 -352px}
.flag.flag-prt {background-position: -32px -352px}
.flag.flag-plw {background-position: -64px -352px}
.flag.flag-pry {background-position: -96px -352px}
.flag.flag-qat {background-position: -128px -352px}
.flag.flag-reu {background-position: -160px -352px}
.flag.flag-rou {background-position: -192px -352px}
.flag.flag-srb {background-position: -224px -352px}
.flag.flag-rus {background-position: -256px -352px}
.flag.flag-rwa {background-position: -288px -352px}
.flag.flag-sau {background-position: -320px -352px}
.flag.flag-slb {background-position: -352px -352px}
.flag.flag-syc {background-position: -384px -352px}
.flag.flag-sdn {background-position: -416px -352px}
.flag.flag-swe {background-position: -448px -352px}
.flag.flag-sgp {background-position: 0 -384px}
.flag.flag-svn {background-position: -32px -384px}
.flag.flag-svk {background-position: -64px -384px}
.flag.flag-sle {background-position: -96px -384px}
.flag.flag-smr {background-position: -128px -384px}
.flag.flag-sen {background-position: -160px -384px}
.flag.flag-som {background-position: -192px -384px}
.flag.flag-sur {background-position: -224px -384px}
.flag.flag-stp {background-position: -256px -384px}
.flag.flag-slv {background-position: -288px -384px}
.flag.flag-syr {background-position: -320px -384px}
.flag.flag-swz {background-position: -352px -384px}
.flag.flag-tca {background-position: -384px -384px}
.flag.flag-tcd {background-position: -416px -384px}
.flag.flag-tgo {background-position: -448px -384px}
.flag.flag-tha {background-position: 0 -416px}
.flag.flag-tjk {background-position: -32px -416px}
.flag.flag-tls {background-position: -64px -416px}
.flag.flag-tkm {background-position: -96px -416px}
.flag.flag-tun {background-position: -128px -416px}
.flag.flag-ton {background-position: -160px -416px}
.flag.flag-tur {background-position: -192px -416px}
.flag.flag-tto {background-position: -224px -416px}
.flag.flag-tuv {background-position: -256px -416px}
.flag.flag-twn {background-position: -288px -416px}
.flag.flag-tza {background-position: -320px -416px}
.flag.flag-ukr {background-position: -352px -416px}
.flag.flag-uga {background-position: -384px -416px}
.flag.flag-usa {background-position: -416px -416px}
.flag.flag-ury {background-position: -448px -416px}
.flag.flag-uzb {background-position: 0 -448px}
.flag.flag-vat {background-position: -32px -448px}
.flag.flag-vct {background-position: -64px -448px}
.flag.flag-ven {background-position: -96px -448px}
.flag.flag-vgb {background-position: -128px -448px}
.flag.flag-vir {background-position: -160px -448px}
.flag.flag-vnm {background-position: -192px -448px}
.flag.flag-vut {background-position: -224px -448px}
.flag.flag-wsm {background-position: -256px -448px}
.flag.flag-yem {background-position: -288px -448px}
.flag.flag-zaf {background-position: -320px -448px}
.flag.flag-zmb {background-position: -352px -448px}
.flag.flag-zwe {background-position: -384px -448px}
