body {
  padding-top: 9rem;
  padding-bottom: 1rem;
}
html, body, section {
  min-height: 100%;
  height: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 1;
}

nav a {
  color: black;
}
nav a:nth-child(1) {
  margin-left: 3cm;
}

nav a:nth-child(2) {
  margin-left: 0.4cm;
  font-size: 3rem;
}

nav a:nth-child(3) {
  margin-left: 1cm;
  font-size: 2rem;
}

.logo {
  height: 2cm;
}

footer {
  border-top: 1px solid black;
  width: 100%;
  padding-left: calc((100% - 750px) / 2);
  padding-right: calc((100% - 750px) / 2);
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 14px;
}

img {
  border: none;
}

.follower{
  display:inline-block;
  position : absolute;
  z-index: 9999;
  border-radius:5px;
  background: #222222;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: .2em 1em;
}
