{% extends "base.html" %}

{% block content %}
<section>
  <div style="position:relative; top: 50%; transform: translateY(-50%);">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-center">
        <br>
        <a href="#map" >
          <img src="/static/img/ooni-looking-glass-logo.png">
        </a>
        <h1>Open Observatory of Network Interference <br> Looking Glass </h1>
        <br>
        <a href="#map" class="btn btn-default">Learn More</a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>OONI</h2>
          <p><a href="https://ooni.torproject.org/">Open Observatory of Network Interference</a> scans a few major protocols for interference through the <a href="https://torproject.org/">tor</a> network and compares it to a known good value.</p>
        </div>
        <div class="col-md-4">
          <h2>Open Data</h2>
          <p>OONI provides data of its observations of network tampering taking place around the world, which can be useful to journalists, technologists, and legal scholars. </p>
        </div>
        <div class="col-md-4">
          <h2>Contribute</h2>
          <p>The design of OONI allows for researchers, and developers to contribute to the project by designing, or implementing tests centered around the detection of network traffic discrimination, and interference.</p>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a name="map"></a>
        <h2>
          Bridge Reachability on Pluggable Transports</h2>
      </div>
      <div class="col-xs-12 text-center" id="map">
        <div class="follower"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA" > <span> </span></div>
      </div>
      <div class="col-xs-12 text-center">
        <a class="btn btn-default" href="#table">More</a>
      </div>
    </div>
  </section>

    <section>
    <!-- Table of pluggable transports -->
    <div class="row">
      <div class="col-xs-12 text-center">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <colgroup>
            <col class="country-flag">
            <col class="country-name">
            <col class="status" span="{{transports|length}}">
          </colgroup>
            <tr>
                <th></th>
                <th><a name="table"></a>Country</th>
                {% for transport in transports|sort %}
                    <th>{{ transport }}</th>
                {% endfor %}
            </tr>

            <!-- If there is data, we care about the metric -->
            {% for cc in metrics %}
                <tr>
                    <td width="1" align="center"><img class="flag flag-{{ countries[cc]['alpha3'] }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA"/></td>
                    <td>{{ countries[cc]['name'] }}</td>
                    {% for transport in metrics[cc].keys() %}
                        {% if metrics[cc][transport]['failureRate'] < 0.70  %}
                            <td bgcolor="green"></td>
                        {% else %}
                            <td bgcolor="red"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
      <div class="col-xs-12 text-center">
        <a class="btn btn-default" href="#about">More</a>
      </div>
    </div>
  </div>
    </section>

    <section>
    <div class="row">
      <div class="col-xs-12">
        <h2>
<a name="about"></a>
          About</h2>
      <p>The <a href="https://ooni.torproject.org/">Open Observatory of Network Interference (OONI)</a> is a project led by the Tor Project, which aims to aggregate, and make available open data, and observations associated with various types, methods, and amounts of network tampering taking place in the world.</p>
      <p>Journalists, technologists, and legal scholars can use these observations to help paint a picture of where in the world incidences of network tampering are taking place, and by which actors such forms of interference can be attributed to.</p>
      <p>At a high-level, the goal of OONI is to detect the presence of network devices which perform seemingly passive network traffic discrimination, or interference, as well as to help researchers understand what types of content are being targeted for discrimination by a given actor.</p>
      <p>The architectural design of OONI allows for researchers, and developers to contribute to the project by designing, or implementing tests centered around the detection of network traffic discrimination, and interference. After being subject to peer review, these tests can then be executed against a set of experiment, and control networks, which will allow for the detection of network anomalies using an experiment-control methodology.</p>
      <p>While a mismatch between the experiment, and control data is not always indicative of network manipulation, in many protocols this is often a clear indication that some form of tampering has taken place.</p>
      <p><code>ooni-probe</code> attempts to detect the presence of network traffic manipulation from the perspective of a given edge network probe using a blend of <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/manipulation/"><strong>traffic manipulation</strong></a> and <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/blocking"><strong>content blocking</strong></a> tests.</p>
      <p>The goal of the <strong>traffic manipulation</strong> tests are to detect the presence of a network device which performs traffic manipulation to modify how a given user sees a particular network resource. Tests in this category may look for evidence of <a href="https://github.com/TheTorProject/ooni-probe/tree/master/ooni/nettests/manipulation">DNS spoofing</a>, <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/manipulation/http_header_field_manipulation.py">HTTP header manipulation</a>, <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/manipulation/captiveportal.py">captive portals</a>, or <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/manipulation/traceroute.py">route tampering</a>.</p>
      <p><strong>Content blocking</strong> tests aim to access content which may be blocked by a given actor. Examples of tests in this category include <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/blocking/dns_consistency.py">DNS consistency testing</a>, <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/blocking/bridge_reachability.py">Tor bridge reachability testing</a>, and tests which attempt to connect to <a href="https://github.com/TheTorProject/ooni-probe/blob/master/ooni/nettests/blocking/tcp_connect.py">one, or more censored resources</a>.</p>
      </div>
    </div>
    </section>
{% endblock %}

{% block scripts %}
      <script>
          // parse a spec and create a visualization view
          var mouseX = 0, mouseY = 0, limitX = 15, limitY = 15;

          // cache the selector
          var follower = null;
          var xp = 0, yp = 0;
          $('#map').mousemove(function(e) {
              var $elem = $(this);
                  var offset = $elem.offset();
                  mouseX = Math.min(e.pageX - offset.left, $elem.width() - limitX);
                  mouseY = Math.min(e.pageY - offset.top, $elem.height() - limitY);
                  if (mouseX < 0) mouseX = 0;
                  if (mouseY < 0) mouseY = 0; else mouseY = mouseY + 20;
                  var loop = setInterval(function() {
                      $elem.find('.follower').css({left:mouseX, top:mouseY});
                  }, 30);
              //}
          });


          function parse(spec) {
            vg.parse.spec(spec, function(chart) {
              chart({el:"#map"}).update();
            });
          }
          parse("static/json/map.json");
          $(function(){$(".follower").hide()});
  $(document).ready(function(){

    // hide .navbar first
    $(".navbar").hide();

    $(function () {
        $(window).scroll(function () {

            if ($(this).scrollTop() > 100) {
                $('.navbar').fadeIn();
            } else {
                $('.navbar').fadeOut();
            }
        });
    });

});
      </script>
{% endblock %}
