{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="col-xs-12" id="map"></div>
      </div>
    </nav>

    <div id="map">
        <div class="follower"></div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>OONI</h2>
          <p><a href="https://ooni.torproject.org/">Open Observatory of Network Interference</a> scans a few major protocols for interference through the <a href="https://torproject.org/">tor</a> network and compares it to a known good value.</p>
        </div>
        <div class="col-md-4">
          <h2>Open Data</h2>
          <p>OONI provides data of its observations of network tampering taking place around the world, which can be useful to journalists, technologists, and legal scholars. </p>
       </div>
        <div class="col-md-4">
          <h2>Contribute</h2>
          <p>The design of OONI allows for researchers, and developers to contribute to the project by designing, or implementing tests centered around the detection of network traffic discrimination, and interference.</p>
        </div>
      </div>
{% endblock %}

{% block scripts %}
      <script src="static/js/main.js"></script>

      <script type="text/javascript">
          // parse a spec and create a visualization view
          var mouseX = 0, mouseY = 0, limitX = 15, limitY = 15;

          // cache the selector
          var follower = null; 
          var xp = 0, yp = 0;
          $('#map').mousemove(function(e) {
              var $elem = $(this);
              //if($elem.attr('id') == 'map') {
                  var offset = $elem.offset();
                  mouseX = Math.min(e.pageX - offset.left, $elem.width() - limitX);
                  mouseY = Math.min(e.pageY - offset.top, $elem.height() - limitY);
                  if (mouseX < 0) mouseX = 0;
                  if (mouseY < 0) mouseY = 0;
                  // change 12 to alter damping higher is slower
                  xp += (mouseX - xp) / 12;
                  yp += (mouseY - yp) / 12;
                  var loop = setInterval(function() {
                      $elem.find('.follower').css({left:xp, top:yp});
                  }, 30);
              //}
          });


          function parse(spec) {
            vg.parse.spec(spec, function(chart) {
              chart({el:"#map"}).update();
            });
          }
          parse("static/json/map.json");
      </script>
{% endblock %}
